In [1]:
#Week3-Homework

1. What is an algorithm? A set of instructions that is developed to solve a business case or problem.
2. Variable names may not start with certain characters - name two. Variables cannot start with numbers, hashtag(#) or periods(.) .
3. What is a Semantic error? Code that is grammatically correct but not producing one's expected result(s). 
4. What is the #1 rule of coding / debugging? Complexity is the enemy of efficiency.
5. List 5 Python reserved words. Some examples of Python reserved words are FALSE, TRUE, CLASS, WHILE and LAMBDA.

In [17]:
#6. Write a multi-line comment with your name, favorite food, and dream job on 3 different lines
""" My name is Sammy Casillas
I enjoy eating Thai food.
My dream job is being a Data Analyst/Business Intelligence Analyst for a 
Governmental Agency that helps the lives of those in this Country. """

#7. Assign 5 different data types to 5 different variables. At least one datatype must be a string
                                                                                                             
a = 20
print(a)

b = 46.8
print(b)

c = ["North America", "South America", "Africa", "Europe", "Australia", "Antartica", "Asia"]
print(c)

d = ("North America", "South America", "Africa", "Europe", "Australia", "Antartica", "Asia")
print(d)


e = "Michael Jordan played for the Chicago Bulls"
print(e)
print(len(e))
print(e[3])

#Printing the Data Types created 
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))                                                                                  

#8. Create a new variable called savvy, and assign it the string with this phrase "Learning Data Analytics and Python is Awesome!"

savvy = "Learning Data Analytics and Python is Awesome!"
print(savvy)

#Return a range of characters that slices the above string from the beginning of "ing" up to before "and"
print(savvy[5:23])

#Replace "Awesome" with "great" in the string
replace_awesome = savvy.replace("Awesome!", "Great")
print(replace_awesome)

#Test and print the savvy string to see it contains "Python"
print(savvy)
print(replace_awesome)

#9. Create and assign 3 more variables called name, age and length using the multi-variable naming method
name, age, length = ["Sammy Casillas", float(36), 70]
print(age)
print(type(age))
miniBio = "Hi my name is {}, I am {} inches tall and {} years old today."
print(miniBio.format(name, length, age))

20
46.8
['North America', 'South America', 'Africa', 'Europe', 'Australia', 'Antartica', 'Asia']
('North America', 'South America', 'Africa', 'Europe', 'Australia', 'Antartica', 'Asia')
Michael Jordan played for the Chicago Bulls
43
h
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'str'>
Learning Data Analytics and Python is Awesome!
ing Data Analytics
Learning Data Analytics and Python is Great
Learning Data Analytics and Python is Awesome!
Learning Data Analytics and Python is Great
36.0
<class 'float'>
Hi my name is Sammy Casillas, I am 70 inches tall and 36.0 years old today.

In [ ]:
#10. Create a list of at least 5 elements of mixed data types

#NBA Player, Jersey Number, Height, Team, Total Career Points, Active Player
hw_list1 = ["Michael Jordan", 23, 78.1, 32000, "Chicago Bulls", False]


#Correcting Career Points and Adding State of College Attended
hw_list1[4] = 32292
hw_list1.append("North Carolina")
print(hw_list1)

#Slicing a portion of list1 and Extending original
slicedhw_list1 = hw_list1[0:4]
print(slicedhw_list1)
hw_list1.extend(slicedhw_list1)
print(hw_list1)

#Sorting simlist and coping into a third list
simlist = [5, 7, 79, 28289, 48, 46800, 12]
simlist.sort(reverse=False)
print(simlist)

simlist2 = simlist
simlist3 = simlist+simlist2
print(simlist3)

In [21]:
#11 Create a tuple of about 5 elements

tup_list = ("New York", "California", "Texas", "Illinois", "Florida", "Washington", "Utah")
product_tuple = tup_list * 3
print(product_tuple)

#Access and Print 12th element within tuple1
print(product_tuple[11])
sort_product_tuple = tuple(sorted(product_tuple))
print(sort_product_tuple)

#Copy 4 elements from your 2nd tuple into 3rd and Unpack 3rd Tuple into 4 Variables
import copy
product_tuple2 = product_tuple[:4]
(East,West,South,North) = product_tuple2
print(East)
print(West)
print(South)
print(North)
print(type(product_tuple2))

#Create single value tuple
single_tup = (50,)
print(single_tup)
print(type(single_tup))

#Combining 2nd and 3rd Tuples into a 5th

tuple5 = product_tuple+product_tuple2
print(tuple5)

('New York', 'California', 'Texas', 'Illinois', 'Florida', 'Washington', 'Utah', 'New York', 'California', 'Texas', 'Illinois', 'Florida', 'Washington', 'Utah', 'New York', 'California', 'Texas', 'Illinois', 'Florida', 'Washington', 'Utah')
Florida
('California', 'California', 'California', 'Florida', 'Florida', 'Florida', 'Illinois', 'Illinois', 'Illinois', 'New York', 'New York', 'New York', 'Texas', 'Texas', 'Texas', 'Utah', 'Utah', 'Utah', 'Washington', 'Washington', 'Washington')
New York
California
Texas
Illinois
<class 'tuple'>
(50,)
<class 'tuple'>
('New York', 'California', 'Texas', 'Illinois', 'Florida', 'Washington', 'Utah', 'New York', 'California', 'Texas', 'Illinois', 'Florida', 'Washington', 'Utah', 'New York', 'California', 'Texas', 'Illinois', 'Florida', 'Washington', 'Utah', 'New York', 'California', 'Texas', 'Illinois')

In [68]:
#12 Create a set of about 3 elements

hw_set = {'Banana', 'Orange', 'Apple', 'Pear', 'Grape'}
print(hw_set)
hw_set.add('Toyota')
print(hw_set)

hw_set2 = {'Tank', 'Ship', 'Airplane'}

hw_unionset = hw_set.union(hw_set2)
print(hw_unionset)

#Pop an element from 2nd set_
hw_set2.pop()
print(hw_set2)

#Clear 1st set
hw_set.clear()
print("has the set been cleared...",hw_set)

#Discard an element and Remove another then print remaining set.
hw_unionset.discard("Ship")
hw_unionset.remove("Tank")
print(hw_unionset)

{'Pear', 'Banana', 'Grape', 'Orange', 'Apple'}
{'Pear', 'Banana', 'Grape', 'Toyota', 'Orange', 'Apple'}
{'Tank', 'Banana', 'Pear', 'Airplane', 'Grape', 'Toyota', 'Ship', 'Orange', 'Apple'}
{'Tank', 'Airplane'}
has the set been cleared... set()
{'Banana', 'Pear', 'Airplane', 'Grape', 'Toyota', 'Orange', 'Apple'}

In [29]:
#13 Create a dictionary with at least 5 values of different data types

nba_player = {
    "player_name" : "Lebron James",
    "team" : "Lakers",
    "age" : 38,
    "jersey" : 6,
    "city_born" : "Akron",
    "state_born" : "Ohio"
}

#Retrieve one item from the Dictionary
player_team = nba_player.get("team")
print(player_team)

#Replace one element with your name
nba_player.update({"player_name" : "Sammy Casillas"})
print(nba_player)

#Add my favorite color to dictionary
nba_player.update({"favorite_color": "Blue"})
print(nba_player)

#Add tuple, list, or set to your dictionary
nba_player.update({"player_name":["Patrick Ewing", "Dennis Rodman", "Shaq O'Neal"]})
print(nba_player)


#Print the dictionary keys and values
k = nba_player.keys()
print(k)

v = nba_player.values()
print(v)


#Copy your dictionary into a 2nd dictionary
nba_player_copy = nba_player.copy()
print(nba_player_copy)

#Pop an element from 2nd dictionary
nba_player_copy.popitem()
print(nba_player_copy)

#Remove all items from 2nd dictionary and print 2nd dictionary
nba_player_copy.clear()
print(nba_player_copy)

Lakers
{'player_name': 'Sammy Casillas', 'team': 'Lakers', 'age': 38, 'jersey': 6, 'city_born': 'Akron', 'state_born': 'Ohio'}
{'player_name': 'Sammy Casillas', 'team': 'Lakers', 'age': 38, 'jersey': 6, 'city_born': 'Akron', 'state_born': 'Ohio', 'favorite_color': 'Blue'}
{'player_name': ['Patrick Ewing', 'Dennis Rodman', "Shaq O'Neal"], 'team': 'Lakers', 'age': 38, 'jersey': 6, 'city_born': 'Akron', 'state_born': 'Ohio', 'favorite_color': 'Blue'}
dict_keys(['player_name', 'team', 'age', 'jersey', 'city_born', 'state_born', 'favorite_color'])
dict_values([['Patrick Ewing', 'Dennis Rodman', "Shaq O'Neal"], 'Lakers', 38, 6, 'Akron', 'Ohio', 'Blue'])
{'player_name': ['Patrick Ewing', 'Dennis Rodman', "Shaq O'Neal"], 'team': 'Lakers', 'age': 38, 'jersey': 6, 'city_born': 'Akron', 'state_born': 'Ohio', 'favorite_color': 'Blue'}
{'player_name': ['Patrick Ewing', 'Dennis Rodman', "Shaq O'Neal"], 'team': 'Lakers', 'age': 38, 'jersey': 6, 'city_born': 'Akron', 'state_born': 'Ohio'}
{}